include ../button/button

mixin right-content()
  +b.right-content&attributes(attributes)
    block

mixin playlist-info()
  +b.playlist-info&attributes(attributes)
    block

mixin right-heading(type)
  if (type==='feed')
    +b.right-heading&attributes(attributes)
      +e.SPAN.icon
        i.material-icon !{"&#xE916;"}
      +e.SPAN.text Календарь
      +e.A.arrow.material-icon(href="#") !{"&#xE315;"}
  else
    +b.right-heading&attributes(attributes)._border-dark
      +e.SPAN.icon
        i.material-icon !{"&#xE03D;"}
        +e.SPAN.count 121
      +e.SPAN.text Плейлисты
      +e.A.arrow.material-icon(href="#") !{"&#xE315;"}

mixin right-actions()
  +b.right-actions&attributes(attributes)
    +e.A.item(href="#")
      +e.I.icon.material-icon !{"&#xE314;"}
    +e.A.item(href="#")
      +e.I.icon.material-icon !{"&#xE872;"}
    +e.A.item(href="#")
      +e.I.icon.material-icon !{"&#xE88F;"}
    +e.A.item(href="#")
      +e.I.icon.material-icon !{"&#xE043;"}
    +e.A.item(href="#")
      +e.I.icon.material-icon !{"&#xE2C4;"}
      +e.SPAN.hint Скачать плейлист

mixin right-tracks()
  +b.right-tracks&attributes(attributes)
    +e.SPAN.count Треков:
      b 12
    +e.SPAN.time 40 минут 45 секунд
    +e.content
      +e.tracks
        - for (var i=0;i<48;i++)
          +e.track
            +e.album
              img(src='assets/images/track.jpg').card__image
              +e.A.album-button
                +e.I.icon.material-icon !{'&#xE037;'}
              +e.A.album-button
                +e.I.icon.material-icon !{'&#xE5CD;'}
                
                
mixin right-tracks-small()
  +b.right-tracks&attributes(attributes)
    +e.SPAN.count Треков:
      b 12
    +e.SPAN.time 40 минут 45 секунд
    +e.content
      +e.tracks
        - for (var i=0;i<8;i++)
          +e.track
            +e.album
              img(src='assets/images/track.jpg').card__image
              +e.A.album-button
                +e.I.icon.material-icon !{'&#xE037;'}
              +e.A.album-button
                +e.I.icon.material-icon !{'&#xE5CD;'}

mixin playlist-about()
  +b.playlist-about&attributes(attributes)
    +e.item
      span Создан:
      +e.SPAN.value 12 июля 2016 года
    +e.item
      span Последнее изменение:
      +e.SPAN.value 29.10.2016 года
    +e.item
      span Количество треков:
      +e.SPAN.value._bolder 7
    +e.item
      span Продолжительность:
      +e.SPAN.value 32 минуты
    +e.item
      span Проигровался:
      +e.SPAN.value 23 часа  18 минуты назад
    +e.item
      span Скачан:
      +e.SPAN.value 1 раз
    +e.item
      span Автор:
      span ООО "Рога и копыта"

mixin playlist-fullinfo()
  +playlist-info()
    +e.H3.heading Информация о плейлисте
    +e.tag-container
      +e.INPUT(value='Плейлист на утро').name
    +e.tag-container
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag', checked='true').control
        +e.SPAN.time-tag._round_left Утро
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag').control
        +e.SPAN.time-tag День
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag').control
        +e.SPAN.time-tag Вечер
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag').control
        +e.SPAN.time-tag._round_right Ночь
    +playlist-about().__about
    +button()._color_blue._size_huge.__button Сохранить изменения
    +button()._color_grey._size_huge.__button Вернуться в плейлист

mixin playlist-create()
  +playlist-info()
    +e.H3.heading Создание нового плейлиста
    +e.P.hint Создайте новый плейлист и выбрать время суток для него. Добавляйте после создания треки.
    +e.tag-container
      +e.INPUT(value='Название вашего плейлиста').name
    +e.tag-container
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag', checked='true').control
        +e.SPAN.time-tag._round_left Утро
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag').control
        +e.SPAN.time-tag День
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag').control
        +e.SPAN.time-tag Вечер
      +e.LABEL.radio-wrap
        +e.INPUT(type='radio', name='time-tag').control
        +e.SPAN.time-tag._round_right Ночь
    +button()._color_blue._size_huge.__button Создать плейлист
    +button()._color_grey._size_huge.__button Отмена

mixin playlist-scroll()
  +b.playlist-scroll&attributes(attributes)
    - for (var i=0;i<9;i++)
      +e.item
        +e.icon-wrap
          +e.I.icon.material-icon !{"&#xE030;"}
        +e.text-wrap
          +e.text-item
            +e.SPAN.text._name Название плейлиста
          +e.text-item
            +e.SPAN.text Количество треков:
            +e.SPAN.text._value 34
          +e.text-item
            +e.SPAN.text Длительность:
            +e.SPAN.text._value 02:34:21

mixin playlist-inside()
  +b.playlist-inside&attributes(attributes)
    +right-actions()
    +e.H3.title Плейлист на утро
    +e.P.info.text-small Перетаскиваете треки и выставляйте порядок воспроизведения треков в плейлисте.
    //- +e.P.hint Перетащите треки из каталога или нажмите у трека в каталоге добавить в плейлист
    +right-tracks-small().__tracks

mixin playlist-inside-empty()
  +b.playlist-inside&attributes(attributes)
    +right-actions()
    +e.H3.title Плейлист на утро
    +e.P.info.text-small Перетаскиваете треки и выставляйте порядок воспроизведения треков в плейлисте.
    +e.P.hint Перетащите треки из каталога или нажмите у трека в каталоге добавить в плейлист

mixin no-playlist()
  +b.no-playlist&attributes(attributes)
    +e.P.heading Вы не создали еще ни одного плейлиста
    +e.A.icon.material-icon(href="#") !{'&#xE03B;'}
    +e.P.bot-text Нажмите на иконку, чтобы создать

mixin playlist-first()
  +playlist-info()
    +e.H3.heading Плейлисты
    +e.P.hint Выберите плейлист, в который собираетесь добавлять музыкальные композиции.<br> Для добавления выберите трек и нажмите на иконку добавления в плейлист или перетащите композицию в правую область.
    //- +no-playlist().__no-playlist
    +playlist-scroll().__playlist-scroll
