mixin track()
  +b.track&attributes(attributes)
    +e.image-wrap
      +e.image(src='assets/images/track-1.jpg')
      +e.control-icon._play.material-icon !{"&#xE039;"}
    +e.description
      +e.SPAN.text Let’s Rock or Fuck mind of Designers
      +e.SPAN.text._semibold._color_grey Jhon Travolta
    +e.details
      +e.rating
        +e.I.star-icon._active.material-icon !{"&#xE838;"}
        +e.I.star-icon._active.material-icon !{"&#xE838;"}
        +e.I.star-icon._active.material-icon !{"&#xE838;"}
        +e.I.star-icon._active.material-icon !{"&#xE838;"}
        +e.I.star-icon.material-icon !{"&#xE838;"}
      +e.playlist-controls
        +e.I.control-icon._add.material-icon !{"&#xE03B;"}
        +e.I.control-icon._delete.material-icon !{"&#xE16C;"}
      +e.I.duration-icon.material-icon !{"&#xE192;"}
      +e.SPAN.text._semibold._color_white._inline 04:20
      +e.SPAN.text._semibold._color_white Instrumental
      +e.SPAN.text._semibold._color_white Jhon Travolta
