mixin filter-container()
  +b.filter-container&attributes(attributes)
    +e.B.__name ФИЛЬТРЫ:
    +filter-item('Музыкальные жанры').__item
    +filter-item('Тип предприятия').__item
    +filter-item('Сортировать').__item
    +view-toggler().__toggler
    +e.__labels
      +filter-label('Джаз').__label
      +filter-label('Кафе и ресторан').__label
      +filter-label('По дате добавления', true).__label

mixin filter-item(name)
  +b.SPAN.filter-item&attributes(attributes)
    +e.SPAN.text= name
    +e.I.icon.material-icon !{"&#xE5C5;"}

mixin filter-label(name, sort)
  if sort
    +b.SPAN.filter-label._sort._down&attributes(attributes)
      +e.SPAN.text= name
      +e.icon._arrow_down.material-icon !{"&#xE5DB;"}
      +e.icon._arrow_up.material-icon !{"&#xE5D8;"}
      +e.icon._close.material-icon !{"&#xE5CD;"}
  else
    +b.SPAN.filter-label&attributes(attributes)
      +e.SPAN.text= name
      +e.icon._close.material-icon !{"&#xE5CD;"}
